/* ==========================================================================
   7. How It Works Section
========================================================================== */

.how-it-works {
    background: #f5f5fa;
    padding-bottom: 30px;
}

.board{
    /*width: 75%;
    margin: 60px auto;
    margin-bottom: 0;
    box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    box-sizing: border-box;

}

.board > div.board-inner > .nav-tabs {
    border: none;
}

p.narrow{
    width: 90%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100px;
    z-index: 1;
}

.board-inner > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    /*border: 0;*/
    /*border-bottom-color: transparent;*/
    /*outline: 0;*/
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    border: 2px solid #303030 !important;

}
span.round-tabs:hover {
    border: 2px solid #303030;
    box-shadow: none !important;
    outline: none;
}

span.round-tabs.one{
    border: 2px solid #ddd;
    color: #303030;
}

li.active span.round-tabs.three, li.active span.round-tabs.two, li.active span.round-tabs.four, li.active span.round-tabs.five {
    background: rgb(252, 183, 49) !important;
    border: 2px solid #303030;
    color: #fff;
}
li.active span.round-tabs.one {
    background: #5cb85c !important;
    border: 2px solid #303030;
    color: #fff;
}

span.round-tabs.two{
    border: 2px solid #ddd;
    color: #303030;
}

span.round-tabs.three{
    border: 2px solid #ddd;
    color: #303030;
}

span.round-tabs.four{
    border: 2px solid #ddd;
    color: #303030;
}

span.round-tabs.five{
    border: 2px solid #ddd;
    color: #303030;
}


.board-inner > .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.board-inner > .nav-tabs > li {
    width: 20%;
}

.board-inner > .nav-tabs > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

/*.board-inner > .nav-tabs > li a:hover{*/
    /*background: transparent;*/
/*}*/

.board > .tab-content{
}
.board > .tab-pane{
    position: relative;
    padding-top: 50px;
}

.btn-outline-rounded{
    /*padding: 10px 40px;*/
    /*margin: 20px 0;*/
    /*!*border: 2px solid transparent;*!*/
    /*border-radius: 25px;*/
}

.btn.green{
    background-color:rgb(252, 183, 49);
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}
.progress-bar {
    float: right;
    width: 0;
}
.progress {
    position: absolute;
    width: 270px;
    top: 50px;
    right: 150px;
}
@media( max-width : 768px ) {

}
@media( max-width : 616px ){

    /*.board {*/
        /*width: 90%;*/
        /*height:auto !important;*/
    /*}*/
    /*span.round-tabs {*/
        /*font-size:16px;*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*line-height: 50px;*/
    /*}*/
    /*.board > .tab-content .head{*/
        /*font-size:20px;*/
    /*}*/
    /*.board-inner > .nav-tabs > li a {*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*line-height:50px;*/
    /*}*/

    /*.board-inner > .nav-tabs > li.active:after {*/
        /*content: " ";*/
        /*position: absolute;*/
        /*left: 35%;*/
    /*}*/

    /*.btn-outline-rounded {*/
        /*padding:12px 20px;*/
    /*}*/
}