/target/
.classpath
.project
.settings/
/bin/
.idea
*.iml
/.apt_generated/
/images
.scannerwork
/src/main/resources/static/bower_components
/src/main/resources/static/app/build
src/main/resources/node_modules/
src/main/resources/server.js
/nohup.out
/.DS_Store
src/main/webapp
classpath.txt
launch.json
settings.json
task.json
/var/
/node_modules/
/log-dir_IS_UNDEFINED/
/src/main/resources/static/node_modules/
/newrelic/logs/
/src/main/resources/static/webpack/
/src/main/resources/static/index.html
/src/main/resources/application-dev.properties
/src/main/resources/application-live.properties
/src/main/resources/application-qa.properties
