<div class="aboutUsContainer" ng-controller="aboutUsCtrl">
    <div class="aboutUsHeader">
        <h2 >درباره ما</h2>
    </div>
    <div class="aboutUsTextContainer">
    <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
    <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p> توضیحات در متوضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
    <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
    <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    </div>
    <div class="aboutUsHeader">
        <h2 >درباره ما</h2>
    </div>
    <div class="aboutUsTextContainer">
        <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
        <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p> توضیحات در متوضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
        <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
        <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    </div>
    <div class="aboutUsHeader">
        <h2 >گروه بلیتو</h2>
    </div>
    <div class="blitoTeamContainer col-sm-4">
        <div class="blitoTeamPictureHolder">

        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
    </div>
</div>