<div class="aboutUsContainer row" ng-controller="aboutUsCtrl">
    <div class="aboutUsHeader col-xs-12">
        <h2 >درباره ما</h2>
    </div>
    <div class="row  containerAboutUs">
    <div class="aboutUsTextContainer col-xs-12 col-sm-6 ">
        <p>
        بلیتو مرجعی کامل از رویدادهای  فرهنگی  و هنری است که تمرکز و توان خود را صرف جمع آوری/اطلاع رسانی و فروش بلیت برای این رویدادها می کنید.
        کاربران بلیتو سرمایه اصلی این اکوسیستم می باشند.بلیتو به خوبی میداند که کاربرانش ارزشمندترین داریی خود یعنی زمان  خود را صرف می کنند تا در رویدادهای هنری شرکت کنند بنابر کیفیت رویدادها / راحتی خرید و اطلاع رسانی به آن ها از اولویت های ما می باشند.
        شرکت فناوران رویداد پرتو (بلیتو) در سال ۹۵ با بررسی دقیق این مشکلات و با رویکرد بسیار متفاوت  وهمچنین  به واسطه  نیروی انسانی به روز و جوان  در راستای حمایت از هنرمندان و هنردوستان فعالیت خود را آغاز  کرد.
        از آغاز فعالیت بلیتو تا کنون مفتخر بوده ایم که با بسیاری از هنرمندان و فعالان حوزه هنر ایران همکاری داشته باشیم و توانستیم به واسطه پشتیبانی خود رضایت کاربران و مشتریان عزیزمان را نیز کسب کنیم.
        رسالت بلیتو شفافیت بازار خرید و فروش بلیت/حمایت از هنرمندان نوپا و ارایه سرویس کامل و درخور به بزرگان هنر این مرز و بوم است.
        اگر علاقه مند به رویدادهای خاص و متفاوت هنری می باشید حتما به خانواده بزرگ بلیتو بپیوندید!</p>
    </div>
        <div class=" hidden-xs col-sm-6 pictureHolder">

            <div class="laptopcontainer">
                <img class="img-responsive" src="../../../assets/img/laptop2.png"/>
            </div>
            <div class="nolaptopcontainer">
                <img class="img-responsive" src="../../../assets/img/nolaptop2.png"/>
            </div>
    </div>
    </div>


    <div class="aboutUsHeader">
        <h2 >تیم ما</h2>
    </div>
    <div class="aboutUsTextContainer col-xs-12 row">
        <img src="../../../assets/img/logohalf.png" class="hidden-xs logobeautifier">
        <p class="aboutUsText2 col-xs-8  col-md-8 text-center ">هنر ، تکنولوژی و بازار سه مفهومی که مارا دور هم گردآورد.هنر بلیتو در این بود که این سه مفهوم را به بهترین شکل کنار هم یگر جای دهد  و افرادی اکنون بلیتو را تشکیل میدهند که هریک در هرکدام از این مفاهیم سرآمد می باشند.
            مطمعنا دور هم گرد آمدن این تیم  کار آسانی نبوده ،عشق و علاقه و انرژي زیاد عواملی هستند که مارا دور هم جمع کرده است.کار تیمی ، محوریت دانش و مشتری مداری اصولی می باشند که تیم به آن ها تاکید دارد.
            بلیتو از دل شبان و روزان  پر فراز و نشیبی متولد شد و اکنون با تمام قدرت خود به فعالیت ادامه می دهد.</p>
        <img src="../../../assets/img/logohalf.png" class="logobeautifier2 hidden-xs">
    </div>
</div>
    <div class="blitoTeamContainer row ">
        <div class="person col-xs-12 col-md-3 ">
            <div class="blitoTeamPicturebeautifier3">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
                     
                </div>
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>

        <div class="person col-xs-12 col-md-3 ">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder"/>
                     
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>

        <div class="person col-md-3 col-xs-12">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder"/>
                     
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>
    </div>
    <div class="blitoTeamContainer2 marginRight0 row ">
<div class="person col-md-3 col-xs-12">
        <div class="blitoTeamPicturebeautifier">
        <div class="blitoTeamPicturebeautifier2">
        <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder"/>
        
        </div>
        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
</div>
<div class="person col-md-3 col-xs-12">
        <div class="blitoTeamPicturebeautifier">
        <div class="blitoTeamPicturebeautifier2">
        <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder"/>
         
        </div>
        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
</div>
<div class="person col-md-3 col-xs-12">
        <div class="blitoTeamPicturebeautifier">
        <div class="blitoTeamPicturebeautifier2">
        <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder"/>
         
        </div>
        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
</div>
        <div class="person col-md-3 col-xs-12">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder"/>
                     
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>

    </div>


