<div class="aboutUsContainer" ng-controller="aboutUsCtrl">
    <div class="aboutUsHeader">
        <h2 >درباره ما</h2>
    </div>
    <div class="aboutUsTextContainer">
    <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
    <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p> توضیحات در متوضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
    <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
    <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
    <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    </div>
    <div class="aboutUsHeader">
        <h2 >درباره ما</h2>
    </div>
    <div class="aboutUsTextContainer">
        <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
        <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p> توضیحات در متوضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
        <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
        <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
        <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
    </div>
    <div class="aboutUsHeader">
        <h2 >خانواده بلیتو</h2>
    </div>
    <div class="blitoTeamContainer marginRight25Percent row col-sm-12">
        <div class="person col-sm-3">
            <div class="blitoTeamPicturebeautifier3">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
                    </img>
                </div>
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>

        <div class="person col-sm-3">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
                    </img>
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>

        <div class="person col-sm-3">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
                    </img>
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>
    </div>
    <div class="blitoTeamContainer row col-sm-12">
<div class="person col-sm-3">
        <div class="blitoTeamPicturebeautifier">
        <div class="blitoTeamPicturebeautifier2">
        <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
        </img>
        </div>
        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
</div>
<div class="person col-sm-3">
        <div class="blitoTeamPicturebeautifier">
        <div class="blitoTeamPicturebeautifier2">
        <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
        </img>
        </div>
        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
</div>
<div class="person col-sm-3">
        <div class="blitoTeamPicturebeautifier">
        <div class="blitoTeamPicturebeautifier2">
        <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
        </img>
        </div>
        </div>
        <h4>سیاوششششش</h4>
        <p>مدیریت اماکن مذهبی</p>
</div>
        <div class="person col-sm-3">
            <div class="blitoTeamPicturebeautifier">
                <div class="blitoTeamPicturebeautifier2">
                    <img src="../../../assets/img/sia.jpg" class="blitoTeamPictureHolder">
                    </img>
                </div>
            </div>
            <h4>سیاوششششش</h4>
            <p>مدیریت اماکن مذهبی</p>
        </div>
    </div>

    </div>
</div>