<div ng-controller="activateUserCtrl as activateUser">

    <div class=" jumbotron ">
        <br/>
        <br/>
        <h2 class="text-center">{{userData.firstname}} {{userData.lastname}} عزیز </h2>
        <br/>
        <p class="text-center ">.لطفا برای فعال کردن حساب کاربری به ایمیل خود مراجعه کنید</p>
        <br/>
        <p class="text-center ">   ایمیلی حاوی لینک فعال سازی به آدرس</p>
        <p class="text-center ">{{userData.email}}</p>
        <p class="text-center ">   .ارسال شد</p>
    </div>
</div>