<div ng-controller="bioPageCtrl">
    <div class="row eventPageHeader marginTop50 bioPageCoverPhoto" >

        <div class="col-xs-12 col-sm-4 col-md-3 floatRight eventPageImage">
            <img ng-src="assets/img/a.jpeg"   class="img-responsive imgMobileSize ">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 floatRight textAlignRight eventContent" >
            <h1>نام رویداد</h1>
            <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        </div>
    </div>
    <div class="row marginTop30">
        <div class="col-xs-10 col-xs-offset-1 textAlignRight">
            <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
            <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
            <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p> توضیحات در متوضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
            <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحاتمورد رویداد</p>
            <p> توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p>توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحات در مورد رویداد</p>
            <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
            <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 textAlignRight marginTop30">
            <div class="form-group col-xs-12 formRegGroup floatRight">
                <div class="col-xs-5 col-sm-3 floatRight ">
                    <label class="registerLabel" for="socialMediaInstagram"><i class="fa fa-instagram" aria-hidden="true"></i> صفحه اینستاگرام   : </label>
                </div>
                <div class="col-xs-7 col-sm-6 floatRight ">
                    <label id="socialMediaInstagram" class="floatRight"><a class="floatRight">instagram.com</a></label>
                </div>

            </div>
            <div class="form-group col-xs-12 formRegGroup floatRight">
                <div class="col-xs-5 col-sm-3 floatRight ">
                    <label class="registerLabel" for="socialMediaTelegram"><i class="fa fa-telegram" aria-hidden="true"></i>  لینک تلگرام   : </label>
                </div>
                <div class="col-xs-7 col-sm-6 floatRight ">
                    <label id="socialMediaTelegram" class="floatRight"><a class="floatRight">t.me/page</a></label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-12 slidingEvents marginTop30">
        <h2 class="textAlignRigh">رویداد های این مکان</h2>
        <button class=" eventMore"><i class="fa fa-arrow-left" aria-hidden="true"></i>  بیشتر</button>
        <div class="col-xs-12 slickSliders">
            <slick dots="true" infinite="true"    autoplay="true" lazy-load="ondemand" speed=700 slides-to-show=4 touch-move="true" slides-to-scroll=1 >
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/e.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد  </button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/a.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد </button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/d.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block"> مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/f.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/c.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/b.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/e.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
            </slick>
        </div>



    </div>
</div>