<div ng-controller="bioPageCtrl" class="bioPageContainer">
    <div class="row eventPageHeader bioPageHeaderCover eventPageHeaderOther">
    </div>
        <img ng-src="assets/img/behnoud.jpg" class="circleImage bioPageLogoImage"/>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 plannerBioContent" >
            <h1>برگزار کنم؟</h1>
        </div>
    <div class="row plannerdescrptionHolder">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 section-white textAlignRight">
            <p>  توضیحات در مورد رویداد توضیحات توضیحات در مورد رویداد توضیحاتتوضیحات در مورد رویداد توضیحات در مورد رویدادتوضیحاتاد</p>
            <p> توضیحات در مورد رویداد توض توضیحات در مورد رویداد توضیحاتیحات در مورد رویدادتوضیحات در مورد رویداد</p>
        </div>
    </div>
<!--eveeeeeeeeeeeeeeeeeeents-->
    <div class="col-xs-12 textAlignRight slidingEvents plannerSlidingEvnets">
        <h2 class="planerEventsHeader textAlignRigh">رویداد های این مکان</h2>
        <button class=" eventMore"><i class="fa fa-arrow-left" aria-hidden="true"></i>  بیشتر</button>
        <div class="col-xs-12 slickSliders">
            <slick dots="true" infinite="true"    autoplay="true" lazy-load="ondemand" speed=700 slides-to-show=4 touch-move="true" slides-to-scroll=1 >
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/e.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد  </button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/a.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد </button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/d.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block"> مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/f.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/c.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/b.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
                <div>
                    <a class="slidingEventsImg" href=""><img src="assets/img/e.jpeg" class="img-responsive center-block homePageImage"></a>
                    <h4 class="text-center slidingEventsTitle">تیتر رویداد</h4>
                    <button class="btn btn-success slidingEventsBtn center-block">مشاهده رویداد</button>
                </div>
            </slick>
        </div>
    </div>


    <!--eveeeeeeeeeeeeeeeeeeents-->



    <div class="row plannerdescrptionHolder">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 textAlignCenter marginTop30">
            <h3 class="PlannerSocialMediaHeader">بیشتر دنبال کنید</h3>
            <div class="col-xs-4 col-xs-offset-4 plannerPagesocialmediaHolder noBorder textAlignCenter ">
                <div class="marginAuto">
                    <a class="plannerPageSocialmedia " href="https://www.instagram.com/blito.ir/" target="_blank">
                        <img class="displayInline"  src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/d0cf11b8-f7d3-4c59-8e62-91365dd175f9.png"/>
                    </a>
                    <a class="plannerPageSocialmedia"
                       href="https://t.me/blito" target="_blank">
                        <img class="displayInline" src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/11b8524d-0856-4844-9786-b5aab92c9ea5.png"/></a>
                    <a class="plannerPageSocialmedia" href="https://twitter.com/blittoir?s=09" target="_blank">
                        <img class="displayInline" src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/3a457013-f475-4d11-8c98-76f42a25d8e5.png"/>
                    </a>
                    <a class="plannerPageSocialmedia" href="http://www.aparat.com/blito" target="_blank">
                        <img class="displayInline" src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/b8d9fb6a-abeb-40c6-a425-1a88eb44b7cb.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>