<div class="row" ng-controller="eventsListPageCtrl as events">
    <div class="col-md-12 eventsPageRows">
        <h1 class="text-center">{{pageTitle}}</h1>
        <div class="col-xs-12 col-sm-6 col-md-4 floatRight marginTop10" dir-paginate="item in eventList | itemsPerPage: 9" current-page="currentPage">
            <div class="recipe" ng-mouseenter="showDescription($event)" ng-mouseleave="hideDescription()">
                <div class="image center-block">
                    <img ng-src="{{item.img}}" class="center-block eventListImage">


                    <div class="name">
                        <h3>{{ item.title }}</h3>
                    </div>
                    <div class="eventDescription center-block">
                        {{item.desc}}
                    </div>
                </div>

                <a href="{{item.link}}" class="btn btn-lg btn-success center-block eventListBtn">مشاهده رویداد</a>
            </div>
            <div class="col-xs-12 eventListSection" ng-show="eventList.length % 3 === 0" style="height: 20px; background-color: #303030">

            </div>
        </div>

    </div>


    <div class="col-xs-12">
        <div class="col-md-4 col-md-offset-4">
            <dir-pagination-controls
                    max-size="9"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</div>