<div class="row" ng-controller="eventsListPageCtrl as events">
    <div class="col-md-12 eventsPageRows">
        <div class="row noPadBot" ng-class="{'eventPageHeaderCinema': type === 'CINEMA',
                                                                     'eventPageHeaderTheatre':type === 'THEATER',
                                                                     'eventPageHeaderEducation': type === 'WORKSHOP',
                                                                     'eventPageHeaderEntertainment': type === 'SPORT',
                                                                     'eventPageHeaderTour': type === 'TOURISM',
                                                                     'eventPageHeaderMusic': type === 'CONCERT',
                                                                     'eventPageHeaderOther': type === 'OTHER'}">
            <div class="eventListBeautifer"><h2 class="text-center">{{pageTitle}}</h2></div>
            <div class="eventListHeaderBorderBottom"></div>

        <div class="row eventListHeaderContainer">
            <div class="hidden-xs col-sm-3  floatRight"></div>
            <div class="col-xs-12 col-sm-6 floatRight eventListAnchorContainer">
            <a  class="eventListAnchor" href="/concert"><div id="eventListConcert" class=" col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight" >
                <h4 class="text-center pageHeaderLinks">کنسرت</h4>
            </div>
            </a>
            <a class="eventListAnchor" href="/tour"><div id="eventListTour" class="col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight">
                <h4 class="text-center pageHeaderLinks">تور</h4>
            </div>
            </a>
            <a  class="eventListAnchor" href="/theater"><div id="eventListTheater" class=" col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight">
                <h4 class="text-center pageHeaderLinks">تئاتر</h4>
            </div>
            </a>
            <a class="eventListAnchor" href="/sports"><div id="eventListSport" class=" col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight">
                <h4 class="text-center pageHeaderLinks">ورزشی</h4>
            </div>
            </a>
            <a class="eventListAnchor" href="/workshop"><div id="eventListWorkshop" class=" col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight">
                <h4 class="text-center pageHeaderLinks">کارگاه</h4>
            </div>
            </a>
            <a class="eventListAnchor" href="/cinema"><div  id="eventListCinema"class=" col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight">
                <h4 class="text-center pageHeaderLinks">سینما</h4>
            </div>
            </a>
            <a class="eventListAnchor" href="/other"><div id="eventListOther" class=" col-sm-8-5 marginTop30 pageHeaderLinksDiv floatRight" >
                <h4 class="text-center pageHeaderLinks">سایر</h4>
            </div>

            </a>
            </div>
            <div class="hidden-xs col-sm-3  floatLeft"></div>
        </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 floatRight marginTop10" pagination-id="eventPagination" total-items="totalEventsNumber" dir-paginate="item in eventList | itemsPerPage: 12"  current-page="currentPage">
            <a href="{{url+item.eventLink}}">
                <div class="recipe"  >
                    <div class="image center-block" >
                        <img ng-src="{{item.image}}" class="center-block eventListImage"  >
                        <div class="name">
                            <!--<h3>{{ item.eventName }}</h3>-->
                            <h5> برگزارکننده   : {{ item.eventHostName }} <i class="fa fa-calendar-check-o"></i> </h5>
                            <h5>{{ item.views | number | pNumber}}: بازدید  <i class="fa fa-eye"></i>‌</h5>
                            <h5>{{ item.capacity - item.soldCount | number | pNumber}}: بلیت باقی مانده  <i class="fa fa-ticket"></i>‌</h5>
                        </div>
                        <h4 class="text-center slidingEventsTitle"><span ng-if="item.eventName.length > 20">...</span>{{item.eventName | limitTo : 20}}</h4>
                        <div class="eventDescription center-block">
                            {{item.description}}
                        </div>
                        <div ng-show="item.eventState === 'CLOSED'" class="closed">
                            <h1><i class="fa fa-lock"></i>
                                <p>بسته</p>
                            </h1>
                        </div>
                        <div ng-show="item.eventState === 'SOLD'" class="soldout ">
                            <img src="../../../assets/img/soldout.png"/>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>


</div>


<div class="col-xs-12">
    <div class="col-md-4 col-md-offset-4">
        <dir-pagination-controls  class="col-xs-12" pagination-id="eventPagination" on-page-change="pageChanged(newPageNumber)"
                                  max-size="3"
                                  direction-links="true"
                                  boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>

</div>