<div class="row" ng-controller="exchangeListCtrl as events">
    <div class="col-md-12 eventsPageRows">
        <div class="row">
            <div>
                <h1 class="text-center eventListHeader">{{pageTitle}}</h1>
            </div>
        </div>
        <div pagination-id="exchangePagination" total-items="totalElements" class="col-xs-6 col-sm-4 col-md-3 floatRight marginTop10" dir-paginate="item in exchangeList | itemsPerPage: 12" current-page="currentPage">
            <a href="{{urlExchange+item.exchangeLink}}">
            <div class="recipe"  >
                <div class="image center-block" >
                    <img ng-src="{{item.newImage}}" class="center-block eventListImage">
                    <div class="name">
                        <h3>{{ item.title }}</h3>
                        <h5>    نوع رویداد : {{ item.type }}<i class="fa fa-star"></i></h5>

                    </div>
                    <div class="eventDescription center-block">
                        {{item.desc}}
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-md-4 col-md-offset-4">
            <dir-pagination-controls pagination-id="exchangePagination" on-page-change="pageChanged(newPageNumber)"
                    max-size="9"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</div>