<div class="homePage" ng-controller="homeCtrl as home">
    <div class="sliderSection">

        <div ng-show="showSectionsExcahnge[0]" id="firstCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators hidden-xs">
                <li ng-repeat="item in bannerData" data-target="#firstCarousel" data-slide-to="{{$index}}" ng-class="{active : $index === 0}"></li>

            </ol>
            <div class="carousel-inner" role="listbox" >
                <div  ng-repeat="item in bannerData" class="item" ng-class="{active : $index === 0}">
                    <img ng-src="{{item.newImage}}" alt="{{item.name}}" class="firstSliderSectionImage">
                    <a ng-if="item.eventLink" href="{{url+item.eventLink}}" class="btn btn-success btn-lg buyTicketBanner"><i class="fa fa-ticket fa-1x" aria-hidden="true"></i>                       مشاهده و خرید بلیت
                    </a>
                </div>

            </div>
            <span class="left carousel-control" href="#firstCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </span>
            <span class="right carousel-control" href="#firstCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </span>
        </div>
        <div ng-if="!showSectionsExcahnge[0]" class="loadingSlider">
            <div class="lights">
                <div class="light light1"></div>
                <div class="light light2"></div>
                <div class="light light3"></div>
                <div class="conc_group">
                    <div class="conc light1_conc"></div>
                    <div class="conc light2_conc"></div>
                    <div class="conc light3_conc"></div>
                </div>
            </div>
            <div class="co_name">!بی برنامه نمونید </div>
            <div class="ground"></div>
        </div>
    </div>
    <div class="col-xs-12 searchSection">
        <div class=" searchBarSection">
            <input  id="timeSearchPart" type="text" placeholder="&#xf107;  زمان رویداد " class="timeSelect floatRight searchInputsHomePage withDropDown" readonly >
            <div class="timeDropDown myDropDown">
                <div class="dropDownsItems" ng-click="setSearchTime(item)" ng-repeat="item in timePickedSearch">{{item.n}}</div>
            </div>
            <input  id="typeSearchPart"  type="text" placeholder="&#xf107; نوع رویداد" class="typeSelect floatRight searchInputsHomePage withDropDown" readonly>
            <div class="typeDropDown myDropDown">
                <div class="dropDownsItems" ng-click="setSearchType(type)" ng-repeat="type in typePickedSearch">{{type.t}}</div>
            </div>
            <input  id="priceSearchPart"  type="text" placeholder="&#xf107; قیمت رویداد " class="priceSelect floatRight searchInputsHomePage withDropDown" readonly>
            <div class="priceDropDown myDropDown">
                <div class="dropDownsItems" ng-click="setSearchPrice(price)" ng-repeat="price in pricePickedSearch">{{price.p}}</div>
            </div>

            <input ng-model="searchData.name" type="text" placeholder=" نام رویداد" class="eventNameSearch floatRight searchInputsHomePage" >
            <button ng-disabled="homePageSearchSpinner" class="btn btn-blito floatRight searchHomePageBtn" ng-click="searchHomePage(searchData)"><i ng-show="!homePageSearchSpinner" class="fa fa-search fa-2x colorWhite"></i><i ng-show="homePageSearchSpinner" class="fa fa-spin fa-spinner fa-2x colorWhite"></i></button>
        </div>
    </div>
    <div class="row " >
        <div class="col-xs-12 marginTop60 paddingLeft30" ng-show="!eventLoading">
            <div ng-repeat="event in eventsWithImage" class="col-xs-12 col-sm-6 col-md-6 col-lg-4  floatRight eventBox">
                <a href="{{url+event.eventLink}}" class="col-xs-12 width95 marginTop10 padding0 eventBoxInner" >
                    <img ng-src="{{event.image}}" alt="{{event.eventName }}" class="homePageEventImages floatRight ">
                    <div class="floatRight  eventBoxDescription ">
                        <h4 class="textAlignRight floatRight col-xs-12">{{event.eventName | limitTo : 25}}<span ng-if="event.eventName.length > 25">...</span></h4>
                        <p class="textAlignRight fontSize14 ">اولین سانس:</p>
                        <p class="textAlignRight fontSize16 ">{{event.firstEventDate}}</p>
                        <p class="textAlignRight fontSize14"> قیمت:</p>
                        <p class="textAlignRight fontSize16 " ng-show="event.maxPrice !== 0 && event.minPrice !== 0 && event.minPrice === event.maxPrice">  {{event.minPrice | number | pNumber}}  تومان</p>
                        <p class="textAlignRight fontSize16 " ng-show="event.maxPrice !== 0 && event.minPrice !== 0 && event.minPrice !== event.maxPrice">  {{event.minPrice | number | pNumber}} - {{event.maxPrice | number | pNumber}} تومان</p>
                        <p class="textAlignRight fontSize16 " ng-show="event.maxPrice === 0">    رایگان</p>
                        <p class="textAlignRight fontSize16 " ng-show="event.maxPrice !== 0 && event.minPrice === 0">  رایگان - {{event.maxPrice | number | pNumber}} تومان</p>

                    </div>
                </a>
                <div class="ribbon"><span ng-class="{'ribbonColorCinema': event.eventType === 'CINEMA',
                                                                     'ribbonColorTheater': event.eventType === 'THEATER',
                                                                     'ribbonColorWorkshop': event.eventType === 'WORKSHOP',
                                                                     'ribbonColorEntertainment': event.eventType === 'ENTERTAINMENT',
                                                                     'ribbonColorTour': event.eventType === 'TOURISM',
                                                                     'ribbonColorConcert': event.eventType === 'CONCERT',
                                                                     'ribbonColorExhibition': event.eventType === 'EXHIBITION',
                                                                     'ribbonColorOther': event.eventType === 'OTHER'}">{{event.eventTypeFarsi}}</span></div>
            </div>
        </div>
        <div class="col-xs-12 marginTop60 paddingLeft30" ng-show="eventLoading">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  floatRight eventBox">
                <img class="loadingEventBox" src="../../../assets/img/loadingEvent.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  floatRight eventBox">
                <img class="loadingEventBox" src="../../../assets/img/loadingEvent.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  floatRight eventBox">
                <img class="loadingEventBox" src="../../../assets/img/loadingEvent.png" alt="">
            </div>
        </div>
        <p class="text-center fontSize32" ng-show="eventsWithImage.length === 0 && !eventLoading">رویدادی یافت نشد </p>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="homePageMoreButton center-block marginTop30 marginBottom50">
            <button ng-show="showMoreButton" class="btn btn-blito moreEventsButton" ng-click="moreEvents()"><i ng-show="moreEventsSpinner" class="fa fa-spin fa-spinner"></i><i class="fa fa-angle-down" ng-show="!moreEventsSpinner"></i> بیشتر  </button>
            </div>
        </div>

    </div>


    <div class="row plannerIntroRow">
        <div class="col-xs-12 col-md-4  floatRight">
            <div class="whiteBlocks">
                <h3 class="textAlignRight">رویداد برگزار می‌کنی؟</h3>
                <p class="textAlignRight text-justify">اگر رویداد برگزار می‌کنی یا دوست داری این کار رو شروع کنی از وبسایت ما این کار رو به راحتی انچام بده</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 floatRight">
            <div class="arrow_box text-center">
                 تا الان <span class="fontSize36 fontWeightBold">{{totalNumberOfEvents | pNumber}}</span> رویداد برگزار شده
            </div>
            <button class="bigRoundButton btn btn-blito" ng-click="submitEventPlannerIntro()"> بعدی رو برگزار کن</button>
        </div>
        <div class="col-xs-12 col-md-4  floatRight">
            <div class="whiteBlocks">
                <h3 class="textAlignRight">محل برگزاری داری؟</h3>
                <p class="textAlignRight text-justify">اگر صاحب کافه‌ای یا یک جایی داری که میشه اونجا رویداد برگزار کرد به ما اطلاع بده</p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <h2 class="text-center marginTop60">فعال‌ترین برگزار‌کننده‌های بلیتو</h2>
            <div ng-repeat="planer in eventPlaners" class="col-xs-12 col-sm-6 col-md-3 floatRight marginTop30 marginBottom50 ">
                <a class="plannerBoxHomePage" href="{{planerUrl+planer.eventHostLink}}">
                <img class="circleImage center-block eventPageHostImage" ng-src="{{planer.image}}" alt="">
                </a>
                <h4 class="text-center">{{planer.hostName}}</h4>
                <!--<p class="text-center">{{planer}}</p>-->
            </div>
        </div>
    </div>
    <div class="row slidingEventsRow" >
        <div class="hidden-xs hidden-sm col-sm-1 blitoOffer floatRight">

        </div>
        <div class="col-xs-12 col-md-10 slidingEvents floatRight">
            <h2 class="textAlignRight">بلیت های آگهی شده</h2>
            <div class="marginTop30">
                <a href="/exchange-tickets" class=" eventMore"><i class="fa fa-arrow-left" aria-hidden="true"></i>  بیشتر</a>
            </div>
            <div class="col-xs-12 slickSliders">
                <slick ng-if="showSectionsExcahnge[1]" dots="true" lazy-load="ondemand" infinite="true"    speed=700 slides-to-show=3 touch-move="true" slides-to-scroll=1 autoplay="true"  >
                    <div ng-repeat="event in exchange" >
                        <a class="slidingEventsImg" href="{{urlExchange+event.exchangeLink}}">
                            <!--==================================================================img-->
                            <img ng-src="{{event.newImage}}" alt="{{ event.title }}" class=" center-block homePageImage">
                            <!--==================================================================img-->

                            <div class="moreInfo">
                                <h4>{{ event.title }}</h4>
                                <h5>{{ event.blitCost | number | pNumber}}: قیمت <i class="fa fa-calendar-check-o"></i></h5>
                            </div>

                            <div ng-show="event.state === 'SOLD'" class="soldout">
                                <img src="../../../assets/img/soldout.png"/>
                            </div>
                            <h4 class="text-center slidingEventsTitle"><span ng-if="event.title.length > 20">...</span>{{event.title | limitTo:20}}</h4>
                        </a>
                        <a href="{{urlExchange+event.exchangeLink}}" class="btn btn-success slidingEventsBtn center-block hidden-xs">مشاهده رویداد  </a>
                    </div>

                </slick>
                <div ng-if="!showSectionsExcahnge[1]" class="homePageLoader"></div>
            </div>

        </div>
        <div class="hidden-xs hidden-sm col-sm-1 blitoOffer floatRight">

        </div>

    </div>

</div>

