<div class="aboutUsContainer row" ng-controller="aboutUsCtrl">
    <div class="col-xs-9 row termOfUseContainer">
        <img src="../../../assets/img/logo%20pure.png" class="privacyLogo col-xs-3">
    <div class="termOfUseHeader col-xs-12">
        <h3 >حریم خصوصی</h3>
    </div>
    <div class="row  containerAboutUs">
    <div class="termOfUseTextContainer col-xs-12 ">
        <p>
            بلیتو تمام تلاش خود را جهت حفظ و نگهداری از اطلاعات شخصی شما که شامل نام و نام خانوداگی، شماره تلفن و ایمیل میباشد به کار میبند و این اطلاعات به هیچ شخص حقیقی و حقوقی واگذار نخواهد شد.البته اطلاعات تماس و ایمیل شما جهت هماهنگی های بیشتر و اطلاع از وضعیت اخرین رویداد خریداری شده در اختیار برگزار کننده خواهد گرفت تا تغییرات احتمالی را به شما گزارش دهد.
            همچنین اخذ این اطلاعات مارا یاری خواهد کرد تا بتوانیم خدمات تشویقی و بهترین پیشنهادات خود را به شما برسانیم و در صورت سو استفاده از این اطلاعات توسط فردی دیگر در فضای وبسایت بتوانیم از وقوع هر گونه سو استفاده احتمالی جلو گیری نماییم.
        </p>
    </div>
    </div>
    </div>
    </div>


