<div class="aboutUsContainer row" ng-controller="aboutUsCtrl">
    <div class="col-xs-9 row termOfUseContainer">
    <div class="termOfUseHeader col-xs-12">
        <h3 >قوانین و مقررات وبسایت بلیتو</h3>
    </div>
    <div class="row  containerAboutUs">
    <div class="termOfUseTextContainer col-xs-12 ">
        <p>وبسایت بلیتو بستر ثبت و فروش انلاین رویداد های فرهنگی و هنری و اموزشی میباشد.

            با مطالعه قوانین زیر مارا در بهبود کیفیت خدمات رسانی یاری کنید.
        </p>
    </div>
    </div>
    <div class="termOfUseHeader col-xs-12">
        <h3 >شرایط استفاده برگزار کنندگان</h3>
    </div>
    <div class="row  containerAboutUs">
        <div class="termOfUseTextContainer col-xs-12 ">
            <p><b>
                برگزار کننده
            </b>
                شخصی حقیقی و یا نمایند شخصی حقوقی ( دارای معرفی نامه معتبر از سوی شخص حقوقی) می باشد که صلاحیت و اختیار لازم برای برگزاری رویداد اعم از معرفی رویداد، انتشار اطلاعات درباره‌ی رویداد، اعمال تغییر در برنامه رویداد در موارد اضطراری، بررسی و احراز شرایط و ضوابط قانونی برای برگزاری رویداد و اخذ کلیه مجوزهای مرتبط با رویداد، دریافت درآمد ناشی از رویداد و یا بازپرداخت دیون  (در صورت تغییر یا لغو رویداد) را دارد.
                <br/>
                <br/> <b>*</b>
                   برگزار کننده مسوولیت کلیه پیگیری ها و برقراری ارتباطات با مشتریان را جهت ارائه توضیحات، ارائه اطلاعات یا برطرف نمودن مسائل و ایرادات ایجاد شده در روند اجرایی مربوط به رویداد را بطور کامل خواهد داشت.
                لازم است تمامی محتواهای منتشرر شده جهت برگزاری رویداد‌ ( اعم از پوستر، توضیحات، عکس، قیمت، سانس برگزاری، تمامی فایل های صوتی و تصویری اعم از فیلم و تمامی مواردی که هنگام ثبت رویداد باید درج گردند) حداقل از 24 ساعت قبل از انتشار در اختیار بلیتو قرار گیرد و حداکثر پس از ۱۲ ساعت کاری و پس از اعمال بررسی های متعارف و احراز شرایط و استانداردهای بلیتو در سایت به نمایش در خواهد امد. همچنین بلیتو می‌تواند پیش از تایید محتوای ایجاد شده، تغییراتی را که ناقض حقوق برگزار کننده نباشد و یا به نحو عمده ای در این محتوا تغییر ایجاد نکند را اعمال نماید.
                در صورت بروز هرگونه تغییراساسی در رویداد اعم از تغییر تاریخ، زمان، مکان و مانند آن، برگزارکننده موظف است بلافاصله پس از آگاهی از آن‌ها، چنین تغییراتی را در صفحه‌ی رویداد اعمال کرده و مراتب را فورا از طریق ارسال ایمیل و نیز از طریق تماس تلفنی به اطلاع بلیتو رسانده و شرکت کنندگان و خریداران رویداد را نسبت به تغییرات اعمال شده اگاه سازد. اگر تغییرات اساسی باشند یا رویداد کاملاً لغو شود، وبسایت به تسویه حساب با خریداران اقدام خواهد کرد.
                مسوولیت تمامی محتوای رویداد در حین برگزاری و محتوای منتشر شده در وبسایت  و همچنین ارائه سرویس های مورد نظر  و رعایت ضوابط ناظر بر مکان و نحوه برگزاری و قوانین و مقررات حاکم بر جمهوری اسلامی ایران بر عهده برگزار کننده حقیقی و یا نماینده برگزار‌کننده حقوقی میباشد و بلیتو هیچ گونه مسوولیتی در قبال ان ها نخواهد داشت.
                <br/>
                <br/><b>*</b>
                در صورتی که بلیتو در هر مرحله از همکاری هر یک از موارد زیر را مشاهده نمود ، این اختیار را دارد که رویداد ثبت شده را حذف کند و در صورت نیاز نسبت به پیگیری ان در مراجع قضایی اقدام نماید:
                <br/>
                <br/><b>*</b>
                -رد صلاحیت فرد برگزار کننده نسبت به معرفی، انتشار و دریافت درامد ناشی از رویداد یا سایر مولفه هایی که در تعریف برگزارکننده مورد اشاره قرار گرفته است. (به تشخیص بلیتو)
                <br/>
                <br/><b>*</b>
                مغایرت محتوای  رویداد ایجاد شده با قوانین و مقررات حاکم بر جمهوری اسلامی ایران
                <br/>
                <br/><b>*</b>
                مغایرت محتوای منتشر شده ( رویداد ایجاد شده در سایت با قوانین جمهوری اسلامی ایران
                <br/>
                <br/><b>*</b>
                غیر واقعی یا موهوم بودن رویداد و یا اطلاعات ارائه شده پیرامون آن( به تشخیص بلیتو)
                <br/>
                <br/><b>*</b>
                استفاده از امکانات بلیتو جهت تبلیغات شخصی و گروهی و انتشار هرگونه محتوای خارج از چارچوب تعریف شده برای -وبسایت بلیتو
                <br/>
                <br/><b>*</b>
                استفاده از امکانات بلیتو جهت توهین به عقاید قومی و گروهی حاکم بر نظام جمهوری اسلامی ایران یا سایر جرایم علیه امنیت ملی کشور، برهم زدن نظم عمومی و اخلاق حسنه
                <br/>
                <br/><b>*</b>
                عدم پاسخگویی و پشتیبانی متناسب برگزار کننده جهت ارائه توضیحات مربوط به رویداد و پاسخگویی به مخاطبان اعم از خریداران و سایر شرکت کنندگان

            </p>
        </div>
    </div>
    <div class="termOfUseHeader col-xs-12">
        <h3 >شرایط تسویه حساب</h3>
    </div>
    <div class="row  containerAboutUs">
        <div class="termOfUseTextContainer col-xs-12 ">
            <p>بلیتو  پس از گذشت ۴۸ ساعت کاری از  تاریخ و ساعت اتمام رویداد به جز پنج شنبه و جمعه ها مبالغ دریافت شده را به حساب شخص برگزار کننده واریز خواهد نمود.
            </p>
        </div>
    </div>
    <div class="termOfUseHeader col-xs-12">
        <h3 >شرایط استرداد بلیت خریداری شده</h3>
    </div>
    <div class="row  containerAboutUs">
        <div class="termOfUseTextContainer col-xs-12 ">
            <p>درصورت اعمال تغییرات اساسی در موعد، زمان و یا محتوای رویداد مورد نظر با تصمیم بلیتو خریدار این امکان را دارد تا نسبت به عودت بلیت خود اقدام نماید.
                در صورت عودت مبالغ پذیرفته شده در سایت ، برگزار کننده متعهد است که کارمزد وبسایت و تمامی هزینه ها و خساراتی که پس از عودت به وبسایت میشود وارد می گردد را پرداخت نماید.
                استرداد بلیت در صورت عادی نیز پس از تایید برگزار کنندگان بلا مانع است.
            </p>
        </div>
    </div>
    </div>
    </div>


