<!-- Modal -->
<div id="editHost" class="modal fade" role="dialog">
    <div class="modal-dialog editForm">

        <!-- Modal content-->
        <div class="modal-content registerBody">

            <div class="modal-body ">
                <form class="form-inline textAlignRight" name="editPlannerForm">
                    <fieldset class="marginBottom20 fieldsetStyle">
                        <legend class="legendStyle text-center">اطلاعات برگزارکننده </legend>
                        <div class="row">

                        <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="PlannerName" >نام برگزارکننده :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="PlannerName" ng-model="eventPlannerEdit.hostName" required   type="text"  class="form-group registerInput" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="eventPlannerTelephone" > شماره تلفن برگزارکننده  :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="eventPlannerTelephone" required ng-model="eventPlannerEdit.telephone"   type="text"  class="form-group registerInput" >
                            </div>

                        </div>
                        <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 formRegGroup marginTop30 floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="eventPlannerWebsite" > لینک وبسایت  :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="eventPlannerWebsite" required url-validation ng-model="eventPlannerEdit.websiteLink"   type="text"  class="form-group registerInput" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight marginTop30">
                            <div class="col-xs-11 floatRight text-center">
                                <label class="registerLabel floatRight" for="eventPlannerType">نوع برگزارکننده :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <select id="eventPlannerType" required ng-model="eventPlannerEdit.hostType" placeholder="eventPlannerEdit.hostType" ng-options="o.v as o.n for o in [{n : 'نهاد', v: 'ORGANIZATION'},{n : 'کافی شاپ', v: 'COFFEESHOP'},{n : 'فرهنگسرا', v: 'CULTURALCENTER'},{n : 'تئاتر', v: 'THEATER'},{n : 'مؤسسه', v: 'INSTITUTION'},{n : 'فرد', v: 'INDIVIDUAL'}, {n : 'سایر', v: 'OTHER'}]" class="form-control dropDownList">
                                </select>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 formRegGroup marginTop30 floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="eventPlannerEditDescription" > توضیحات برگزارکننده :(حداکثر {{200 - eventPlannerEdit.description.length}} کاراکتر مجاز)</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <textarea ng-model="eventPlannerEdit.description" maxlength="200" required  id="eventPlannerEditDescription"  type="text"  class="form-group textAreaForm marginTop30" ></textarea>
                            </div>
                        </div>
                        </div>
                    </fieldset>
                    <fieldset class="marginTop30 fieldsetStyle">
                        <legend class="legendStyle"> بارگذاری عکس  </legend>
                        <div class="row marginTop30">
                            <div class="col-xs-12">
                                <h3 class="textAlignRight marginRight30">عکس</h3>
                            </div>
                            <div class="col-xs-12 col-sm-6 floatRight marginTop30">
                                <label> عکس پروفایل :</label>
                                <button class="btn btn-default " ng-click='uploadPicEventPlannerEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                <div class="col-xs-12" >
                                    <img class="img-responsive eventPlannerPhotoUploadEdit  marginTop30"   src="" alt="">
                                    <div class="col-xs-12">
                                        <button class="btn btn-success marginTop10" ng-click="photoUploadPlannerEdit()">بارگذاری   <i ng-show="uploadPlannerEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></button>
                                        <!--<button ng-click="deletePicEventPlannerEdit()" class="btn btn-danger marginTop10">پاک کردن عکس   <i class="fa fa-times"></i></button>-->
                                    </div>
                                    <div id="plannerEditPhotoError" ng-show="plannerEditPhotoError" class="text-center alert alert-danger col-xs-12">
                                        <strong></strong>
                                    </div>
                                    <div ng-show="plannerEditPhotoSuccess" class="text-center alert alert-success col-xs-12">
                                        <strong>عکس با موفقیت بارگذاری شد!</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 floatRight marginTop30">
                                <label>  عکس کاور :</label>
                                <button class="btn btn-default " ng-click='uploadPicCoverEdit()'> انتخاب <i class="fa fa-image"></i></button>
                                <div class="col-xs-12">
                                    <img class="img-responsive coverPhotoUploadEdit marginTop30"  src="" alt="">
                                    <div class="col-xs-12">
                                        <button class="btn btn-success marginTop10" ng-click="photoUploadPlannerCoverEdit()">بارگذاری <i ng-show="uploadCoverEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></button>
                                        <!--<button class="btn btn-danger marginTop10" ng-click="deleteCoverPicEdit()">پاک کردن عکس   <i class="fa fa-times"></i></button>-->
                                    </div>
                                    <div id="coverEditPhotoError" ng-show="coverEditPhotoError" class="text-center alert alert-danger col-xs-12">
                                        <strong></strong>
                                    </div>
                                    <div ng-show="coverEditPhotoSuccess" class="text-center alert alert-success col-xs-12">
                                        <strong>عکس با موفقیت بارگذاری شد!</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="marginBottom20 fieldsetStyle marginTop30">
                        <legend class="legendStyle">لینک های  شبکه اجتماعی </legend>
                        <div class="form-group col-sm-6 formRegGroup floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="plannerTelegram" > تلگرام :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="plannerTelegram"  url-validation ng-model="eventPlannerEdit.telegramLink"  type="text"  class="form-group registerInput" >
                            </div>
                        </div>
                        <div class="form-group col-sm-6 formRegGroup floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight"  for="plannerInstagram" > اینستاگرام :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="plannerInstagram"  url-validation ng-model="eventPlannerEdit.instagramLink"   type="text"  class="form-group registerInput" >
                            </div>
                        </div>
                        <div class="form-group col-sm-6 formRegGroup floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="plannerTwitter" > تویتر :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="plannerTwitter"  url-validation ng-model="eventPlannerEdit.twitterLink"  type="text"  class="form-group registerInput" >
                            </div>
                        </div>
                        <div class="form-group col-sm-6 formRegGroup floatRight">
                            <div class="col-xs-10 floatRight text-center">
                                <label class="registerLabel floatRight" for="plannerLinkedIn" >لینکداین :</label>
                            </div>
                            <div class="col-xs-11 floatRight ">
                                <input height="60" id="plannerLinkedIn"  url-validation ng-model="eventPlannerEdit.linkedinLink"   type="text"  class="form-group registerInput" >
                            </div>
                        </div>
                    </fieldset>
                    <div class="control-group text-center marginBottom20">
                        <div ng-show="submitPlannerEditNotif" class="text-center alert alert-success col-xs-12" >
                            <strong>برگزار کننده با موفقیت ثبت شد!</strong>
                        </div>
                        <div id="submitPlannerEditErrorNotif" ng-show="submitPlannerEditErrorNotif" class="text-center alert alert-danger col-xs-12">
                            <strong></strong>
                        </div>
                        <div class="controls">
                            <button id="eventPlannerSubmit" ng-disabled="editPlannerForm.$invalid" ng-click="editHostSubmit(eventPlannerEdit)"  class="btn btn-success btn-lg btnLogin">ویرایش برگزارکننده <i ng-show="editPlannerSpinner" class="fa fa-spinner fa-spin"></i><i class="fa fa-check"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>