<!-- Modal -->
<div id="editEvent" class="modal fade" role="dialog">
    <div class="modal-dialog editForm">
        <!-- Modal content-->
        <div class="modal-content registerBody">
            <div class="modal-body ">
                <form class="form-inline textAlignRight" name="editEventForm">
                    <fieldset class="fieldsetStyle">

                        <legend class="legendStyle text-center">اطلاعات رویداد</legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventName" >نام رویداد :</label>
                                </div>
                                <div class="col-xs-11 floatRight ">
                                    <input height="60" id="eventName" ng-model="editEventFields.eventName" required   type="text"  class="form-group registerInput" >
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventType">نوع رویداد :</label>
                                </div>
                                <div class="col-xs-11 floatRight ">
                                    <select  id="eventType" ng-model="editEventFields.eventType" placeholder="editEventFields.eventType" class="form-control dropDownList"
                                            ng-options="o.v as o.n for o in [{n : 'تئاتر', v: 'THEATER'},{n : 'سینما', v: 'CINEMA'},{n : 'کنسرت', v: 'CONCERT'},{n : 'تور', v: 'TOURISM'},{n : 'سرگرمی', v: 'ENTERTAINMENT'},{n : 'نمایشگاه', v: 'EXHIBITION'},{n : 'کارگاه', v: 'WORKSHOP'}, {n : 'سایر', v: 'OTHER'}]">
                                    </select>

                                </div>

                            </div>
                        </div>
                        <div class="row marginTop30">
                            <div class="form-group col-xs-12 col-sm-6  formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventDescription" >توضیحات کلی :(حداکثر {{200 - editEventFields.description.length}} کاراکتر مجاز)</label>
                                </div>
                                <div class="col-xs-11  floatRight ">
                                    <textarea ng-model="editEventFields.description" maxlength="200" required  id="eventDescription"  type="text"  class="form-group textAreaForm" ></textarea>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventName" >لینک رویداد :</label>
                                </div>
                                <div class="col-xs-11 floatRight ">
                                    <input height="60" id="eventLink" ng-model="editEventFields.eventLink" required   type="text"  class="form-group registerInput" >
                                </div>
                            </div>
                        </div>
                        <div class="row marginTop30">
                            <div class="form-group col-xs-12 col-sm-6  formRegGroup floatRight">
                                <label  class="marginRight30"><input class="checkboxStyle" ng-model="editEventFields.isPrivate"    type="checkbox" value="">رویداد خصوصی</label>
                            </div>
                            <div class="form-group col-xs-12 marginTop30   formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventDescription" >توضیحات تکمیلی :</label>
                                </div>
                                <div class="col-xs-11  floatRight ">
                                    <div text-angular="text-angular" required name="htmlcontentsecond" ng-model="editEventFields.members" ta-toolbar="[['h1','h2','h3','p'],['bold','italics','ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent']]" ta-disabled='disabled'></div>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                    <fieldset class="marginTop30 fieldsetStyle">

                        <legend class="legendStyle"> اطلاعات زمانی فروش بلیت</legend>
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventTicketStartTime">زمان شروع فروش بلیت :</label>
                                </div>
                                <div class="col-xs-11 floatRight ">
                                    <input height="60" id="eventTicketStartTime" required  ng-model="editEventFields.blitSaleStartDate" type="text"  class="form-group datePickerFormat blitSaleStartDate" readonly>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventTicketEndTime" > زمان پایان فروش بلیت :</label>
                                </div>
                                <div class="col-xs-11 floatRight ">
                                    <input height="60" id="eventTicketEndTime" required  ng-model="editEventFields.blitSaleEndDate"  type="text"  class="form-group datePickerFormat blitSaleEndDate" readonly>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset class="marginTop30 fieldsetStyle">

                        <legend class="legendStyle">  اطلاعات مکانی </legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-12 formRegGroup floatRight">
                                <div class="col-xs-10   floatRight text-center">
                                    <label class="registerLabel floatRight" for="eventAddress" >آدرس :</label>
                                </div>
                                <div class="col-xs-11 floatRight ">
                                    <textarea ng-model="editEventFields.address" required  id="eventAddress"  type="text"  class="form-group textAreaForm marginTop30" ></textarea>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-12 formRegGroup floatRight">
                                <div class="col-xs-10 floatRight text-center">
                                    <label class="registerLabel floatRight" >مختصات جغرافیایی رویداد :</label>
                                    <label class="col-xs-12">با کلیک روی نقشه مکان را مشخص کنید</label>
                                </div>
                                <div class="col-xs-12 floatRight ">
                                    <div id="editEventMap" ng-click="addMarker()" >
                                    </div>
                                </div>

                            </div>


                        </div>

                    </fieldset>
                    <fieldset class="marginTop30 fieldsetStyle">
                        <legend class="legendStyle"> بارگذاری عکس و ویدئو</legend>
                        <div class="row marginTop30">
                            <div class="col-xs-12">
                                <h3 class="textAlignRight marginRight30">عکس</h3>
                            </div>
                            <div class="col-xs-12 col-sm-12 floatRight marginTop30">

                                <label class="marginRight30"> عکس رویداد :</label>
                                <button class="btn btn-default " ng-click='uploadPicEditEvent()'>انتخاب <i class="fa fa-image"></i></button>
                                <div class="col-xs-12" >
                                    <img class="img-responsive profilePhotoUploadEditEvent marginTop30"  src="" alt="">
                                    <div class="col-xs-12">
                                        <button class="btn btn-success marginTop10" ng-click="photoUploadEditEvent()">بارگذاری   <i ng-show="uploadEditEventPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></button>
                                        <!--<button ng-click="deletePicEventEdit()" class="btn btn-danger marginTop10">پاک کردن عکس   <i class="fa fa-times"></i></button>-->
                                    </div>
                                    <div id="eventEditPhotoError" ng-show="eventEditPhotoError" class="text-center alert alert-danger col-xs-12">
                                        <strong></strong>
                                    </div>
                                    <div ng-show="eventEditPhotoSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                        <strong>عملیات با موفقیت انجام شد !</strong>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 floatRight marginTop30">
                                <h3 class="textAlignRight marginRight30 marginBottom20">عکس های گالری</h3>
                                <div class="row">
                                    <div class="col-sm-4 floatRight marginTop10">
                                        <label class="marginRight30"> عکس اول :</label>
                                        <button class="btn btn-default " ng-click='uploadGalleryOneEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                        <div class="col-xs-12" >
                                            <img class="img-responsive gallery galleryOneEdit marginTop30"  src="" alt="">
                                            <div class="col-xs-12">
                                                <div class="btn btn-success marginTop10" ng-click="photoGalleryOneEdit()">بارگذاری   <i ng-show="uploadEventOneEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></div>
                                                <div class="btn btn-danger marginTop10" ng-click="photoGalleryOneEditDelete(editEventFields.eventId)"><i class="fa fa-trash"></i><i ng-class="deleteGallerySpinner(0)" class="fa fa-spinner fa-spin dispNone"></i></div>
                                            </div>
                                            <div id="eventPhotoOneEditError" ng-show="eventPhotoOneEditError" class="text-center alert alert-danger col-xs-12">
                                                <strong></strong>
                                            </div>
                                            <div ng-show="eventPhotoOneEditSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                                <strong>عملیات با موفقیت انجام شد !</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 floatRight marginTop10">
                                        <label class="marginRight30"> عکس دوم :</label>
                                        <button class="btn btn-default " ng-click='uploadGalleryTwoEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                        <div class="col-xs-12">
                                            <img class="img-responsive gallery galleryTwoEdit marginTop30"  src="" alt="">
                                            <div class="col-xs-12">
                                                <div class="btn btn-success marginTop10" ng-click="photoGalleryTwoEdit()">بارگذاری   <i ng-show="uploadEventTwoEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></div>
                                                <div class="btn btn-danger marginTop10" ng-click="photoGalleryTwoEditDelete(editEventFields.eventId)"><i class="fa fa-trash"></i><i ng-class="deleteGallerySpinner(1)" class="fa fa-spinner fa-spin dispNone"></i></div>
                                            </div>
                                            <div id="eventPhotoTwoEditError" ng-show="eventPhotoTwoEditError" class="text-center alert alert-danger col-xs-12">
                                                <strong></strong>
                                            </div>
                                            <div ng-show="eventPhotoTwoEditSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                                <strong>عملیات با موفقیت انجام شد !</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 floatRight marginTop10">
                                        <label class="marginRight30"> عکس سوم :</label>
                                        <button class="btn btn-default " ng-click='uploadGalleryThreeEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                        <div class="col-xs-12" >
                                            <img class="img-responsive gallery galleryThreeEdit marginTop30"  src="" alt="">
                                            <div class="col-xs-12">
                                                <div class="btn btn-success marginTop10" ng-click="photoGalleryThreeEdit()">بارگذاری   <i ng-show="uploadEventThreeEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></div>
                                                <div class="btn btn-danger marginTop10" ng-click="photoGalleryThreeEditDelete(editEventFields.eventId)"><i class="fa fa-trash"></i><i ng-class="deleteGallerySpinner(2)" class="fa fa-spinner fa-spin dispNone"></i></div>
                                            </div>
                                            <div id="eventPhotoThreeEditError" ng-show="eventPhotoThreeEditError" class="text-center alert alert-danger col-xs-12">
                                                <strong></strong>
                                            </div>
                                            <div ng-show="eventPhotoThreeEditSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                                <strong>عملیات با موفقیت انجام شد !</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 floatRight marginTop10">
                                        <label class="marginRight30"> عکس چهارم :</label>
                                        <button class="btn btn-default " ng-click='uploadGalleryFourEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                        <div class="col-xs-12" >
                                            <img class="img-responsive gallery galleryFourEdit marginTop30"  src="" alt="">
                                            <div class="col-xs-12">
                                                <div class="btn btn-success marginTop10" ng-click="photoGalleryFourEdit()">بارگذاری   <i ng-show="uploadEventFourEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></div>
                                                <div class="btn btn-danger marginTop10" ng-click="photoGalleryFourEditDelete(editEventFields.eventId)"><i class="fa fa-trash"></i><i ng-class="deleteGallerySpinner(3)" class="fa fa-spinner fa-spin dispNone"></i></div>
                                            </div>
                                            <div id="eventPhotoFourEditError" ng-show="eventPhotoFourEditError" class="text-center alert alert-danger col-xs-12">
                                                <strong></strong>
                                            </div>
                                            <div ng-show="eventPhotoFourEditSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                                <strong>عملیات با موفقیت انجام شد !</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 floatRight marginTop10">
                                        <label class="marginRight30"> عکس پنجم :</label>
                                        <button class="btn btn-default " ng-click='uploadGalleryFiveEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                        <div class="col-xs-12" >
                                            <img class="img-responsive gallery galleryFiveEdit marginTop30"  src="" alt="">
                                            <div class="col-xs-12">
                                                <div class="btn btn-success marginTop10" ng-click="photoGalleryFiveEdit()">بارگذاری   <i ng-show="uploadEventFiveEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></div>
                                                <div class="btn btn-danger marginTop10" ng-click="photoGalleryFiveEditDelete(editEventFields.eventId)"><i class="fa fa-trash"></i><i ng-class="deleteGallerySpinner(4)" class="fa fa-spinner fa-spin dispNone"></i></div>
                                            </div>
                                            <div id="eventPhotoFiveEditError" ng-show="eventPhotoFiveEditError" class="text-center alert alert-danger col-xs-12">
                                                <strong></strong>
                                            </div>
                                            <div ng-show="eventPhotoFiveEditSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                                <strong>عملیات با موفقیت انجام شد !</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 floatRight marginTop10">
                                        <label class="marginRight30"> عکس ششم :</label>
                                        <button class="btn btn-default " ng-click='uploadGallerySixEdit()'>انتخاب <i class="fa fa-image"></i></button>
                                        <div class="col-xs-12" >
                                            <img class="img-responsive gallery gallerySixEdit marginTop30"  src="" alt="">
                                            <div class="col-xs-12">
                                                <div class="btn btn-success marginTop10" ng-click="photoGallerySixEdit()">بارگذاری   <i ng-show="uploadEventSixEditPhoto" class="fa fa-spinner fa-spin"></i><i class="fa fa-upload"></i></div>
                                                <div class="btn btn-danger marginTop10" ng-click="photoGallerySixEditDelete(editEventFields.eventId)"><i class="fa fa-trash"></i><i ng-class="deleteGallerySpinner(5)" class="fa fa-spinner fa-spin dispNone"></i></div>
                                            </div>
                                            <div id="eventPhotoSixEditError" ng-show="eventPhotoSixEditError" class="text-center alert alert-danger col-xs-12">
                                                <strong></strong>
                                            </div>
                                            <div ng-show="eventPhotoSixEditSuccess" class="text-center alert alert-success col-xs-12 marginTop10">
                                                <strong>عملیات با موفقیت انجام شد !</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row marginTop60">
                            <div class="col-xs-12">
                                <h3 class="textAlignRight marginRight30">ویدئو</h3>
                            </div>
                            <div class="form-group col-xs-12 col-sm-10  formRegGroup floatRight marginTop30">
                                <div class="col-xs-5 col-sm-6 floatRight text-center">
                                    <label class="registerLabel" for="aparatVideo">لینک آپارات  :</label>
                                </div>
                                <div class="col-xs-7 col-sm-6 floatRight ">
                                    <input height="60" id="aparatVideo" url-validation  ng-model="editEventFields.aparatDisplayCode"  type="text"  class="form-group registerInput" >
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="marginTop60 fieldsetStyle">
                        <legend class="legendStyle">  اطلاعات برگزارکننده</legend>
                        <div class="row marginTop30">
                            <div class="form-group col-xs-12 col-sm-10  formRegGroup floatRight">
                                <div class="col-xs-5 col-sm-6 floatRight text-center">
                                    <label class="registerLabel" for="eventPlanner">انتخاب برگزارکننده   :</label>
                                </div>
                                <div class="col-xs-7 col-sm-6 floatRight ">
                                    <select id="eventPlanner" ng-model="editEventFields.eventHostId"  ng-value="editEventFields.eventHostId"  ng-options="obj.hostName for obj in eventHostsList track by obj.eventHostId" class="form-control dropDownList">

                                    </select>
                                </div>

                            </div>

                        </div>
                    </fieldset>
                    <fieldset class="marginTop30 fieldsetStyle">

                        <legend class="legendStyle"> تعریف نوع بلیت و سانس</legend>
                        <div class="row">
                            <table class="table">
                                <thead class="tableHeader">
                                <tr>
                                    <th class="dataCenter">حذف سانس
                                    </th>
                                    <th class="dataCenter" >تاریخ و ساعت
                                    </th>
                                    <th class="dataCenter" >تعداد نوع بلیت
                                    </th>
                                    <th class="dataCenter">ویرایش سانس
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="showTimeList">
                                <tr ng-repeat="sans in showTimeEditForms" >
                                    <td class="dataCenter"> <i class="fa fa-minus btn-danger addDeleteBtn" ng-click="deleteFieldShowTime(i)" aria-hidden="true"></i></td>
                                    <td class="dataCenter"> <input type="text"   class="datePickerFormat disabledInput" ng-class="dateClass($index)"  readonly/></td>
                                    <td class="dataCenter">{{ sans.blitTypes.length | pNumber}} نوع بلیت </td>
                                    <td class="dataCenter"><button class="btn btn-warning editButton" ng-click="editEventSans($index)">ویرایش</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset id="editEventSansSubmit" class="marginTop30 fieldsetStyle dispNone">
                        <div class="col-xs-12 showTimeSectionEdit">

                            <div class="col-xs-12">
                                <h4 class="text-center" >ویرایش سانس</h4>
                                <div class="col-xs-12 col-sm-6 floatRight text-center">

                                    <label class="registerLabel" >تاریخ و ساعت : </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 floatRight inputXsSize">
                                    <input type="text" required ng-model="newShowTimeEdit.persianDate" name="newSansTime" class="datePickerFormat eventDateClassEdit0"  readonly/>
                                </div>
                            </div>


                            <seat-map-edit  ng-if="eventHasSalon"></seat-map-edit>
                            <div ng-if="eventHasSalon" class="seatMapSection2">
                                <div id="seatMaperChart2"  class="col-xs-12 marginTop30 marginBottom20 seatMaperChartStyle"></div>
                                <div ng-if="generateBlitTypeSeats" class="col-xs-12 marginTop30 marginBottom20" ng-include="'app/views/partials/seat-pick-edit-form.html'"></div>
                                <div id="successSeatBlitTypeEdit" class="dispNone text-center alert alert-success col-xs-12" >
                                    <strong>نوع بلیت با موفقیت ثبت شد !</strong>
                                </div>
                                <button class="btn btn-warning center-block marginTop60" ng-disabled="!blitTypeCreateValidationEdit" ng-click="seatsPickedBlitTypeEdit()">قیمت گذاری مجدد صندلی‌های انتخاب شده <i class="fa fa-money"></i></button>
                                <div class="hrLine marginTop30"></div>
                            </div>

                            <div class="form-group col-xs-12  formRegGroup floatRight marginTop30" ng-repeat="ticketType in blitTypesWithOutSeatsEdit">
                                <div class="col-xs-12 col-sm-6 floatRight marginTop10">

                                    <div class="col-xs-12  col-sm-12 floatRight text-center">
                                        <i class="fa fa-minus btn-danger addDeleteBtn" ng-click="deleteFieldTicketTypeEdit($index)" aria-hidden="true"></i>

                                        <label class="registerLabel" for="eventTicket" >{{$index + 1 | pNumber}}. نوع بلیت :</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 floatRight ">
                                    <select id="eventTicket" required ng-model="ticketType.isFree" class="form-control dropDownInput" ng-options="o.v as o.n for o in [{n : 'رایگان', v: true}, {n : 'پولی', v: false}]">

                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-12 floatRight marginTop10">
                                    <div class="col-xs-12 col-sm-6 floatRight text-center">
                                        <label class="registerLabel" for="ticketName">نام بلیت :</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 floatRight inputXsSize">
                                        <input height="60" required id="ticketName" ng-model="ticketType.name" name="blitNameEdit"  type="text"  class="form-group registerInput" >
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 floatRight marginTop10">
                                    <div class="col-xs-12 col-sm-6 floatRight text-center">
                                        <label class="registerLabel" for="ticketCapacity">ظرفیت بلیت :</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 floatRight ">
                                        <input height="60" required id="ticketCapacity" ng-model="ticketType.capacity" name="blitCapacityEdit"  type="number"  class="form-group registerInput inputXsSize" >
                                    </div>
                                </div>
                                <div ng-if="ticketType.isFree === false" class="col-xs-12 col-sm-12 floatRight marginTop10">
                                    <div class="col-xs-12 col-sm-6 floatRight text-center">
                                        <label class="registerLabel" for="ticketPurchaseAmount">قیمت بلیت (تومان):</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 floatRight ">
                                        <input height="60" required id="ticketPurchaseAmount" ng-model="ticketType.price" name="blitPriceEdit"   type="number"  class="form-group registerInput inputXsSize" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 marginTop30">
                                <button class="btn btn-info center-block" ng-click="addFieldTicketTypeEdit()">تعریف بلیت بدون انتخاب صندلی <i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-xs-12 marginTop30">
                                <!--<p class="text-center colorRed" ng-show="submitEventForm.newSansTime.$invalid">* تاریخ و ساعت را انتخاب کنید.</p>-->
                                <button class="btn btn-success center-block marginTop30" ng-disabled="editEventForm.blitNameEdit.$invalid || editEventForm.blitCapacityEdit.$invalid || editEventForm.blitPriceEdit.$invalid" ng-click="submitSansWithSeatpickerEdit(newShowTimeEdit)">ویرایش سانس</button>
                            </div>
                        </div>
                        <div class="hrLine marginTop30"></div>
                    </fieldset>
                    <fieldset class="marginTop30 fieldsetStyle">

                        <legend class="legendStyle">اطلاعات مورد نیاز (اختیاری)</legend>
                        <div class="row">
                            <div ng-if="additionalFieldsEdit.length === 0" class="col-xs-12">
                                <p class="marginRight30">در صورتی که از مشتریان خود اطلاعات بیشتری به غیر از نام و نام خانوادگی، پست الکترونیکی و شماره تماس نیاز دارید
                                    <a class="fontSize18 cursorPointer" ng-click="openAdditionalFieldsEdit()">اینجا</a> را کلیک کنید</p>
                            </div>
                            <div ng-show="additionalFieldsSection" class="col-xs-12">
                                <div class="col-xs-12 text-center marginTop10" > اضافه کردن فیلد
                                    <i class="fa fa-plus btn-success addDeleteBtn" ng-click="addAdditionalFieldsEdit()" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-12 marginTop30">
                                    <div ng-repeat="inputs in additionalFieldsEdit" class="form-group col-xs-12 col-sm-6 formRegGroup floatRight">
                                        <div class="col-xs-10 floatRight text-center">
                                            <label class="registerLabel floatRight" for="eventName" >نام فیلد :</label>
                                        </div>
                                        <div class="col-xs-11 floatRight ">
                                            <input height="60" ng-model="inputs.key" name="extraField"  required   type="text"  class="form-group registerInput" >
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="signInButton"></label>
                        <div ng-show="editEventNotif" class="text-center alert alert-success col-xs-12">
                            <strong>رویداد با موفقیت ویرایش شد!</strong>
                        </div>
                        <div id="editEventErrorNotif" ng-show="editEventErrorNotif" class="text-center alert alert-danger col-xs-12">
                            <strong></strong>
                        </div>
                        <div class="controls">
                            <button id="signInButton" ng-disabled="editEventForm.$invalid" ng-click="editEventSubmit(editEventFields)" name="signin" class="btn btn-success btn-lg btnLogin">ویرایش رویداد <i ng-show="editEventSpinner" class="fa fa-spinner fa-spin"></i><i class="fa fa-check"></i></button>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>

</div>