<div id="forgetPass"  class="modal fade" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">فراموشی رمز عبور</h3>
            </div>
            <div class="modal-body">
                <form class="form-inline textAlignRight" name="forgetPassForm">
                    <fieldset>tttt
                        <div class="form-group col-xs-12 formRegGroup">
                            <div class="col-xs-5 col-sm-4 floatRight text-center">
                                <label class="registerLabel" for="userIdSingIn" >پست الکترونيکی :</label>
                            </div>
                            <div class="col-xs-7 col-sm-8 floatRight ">
                                <input height="60" id="userIdSingIn" name="email" ng-model="forgetPass.email" type="email"  class="form-group registerInput" required>
                            </div>
                        </div>
                    </fieldset>
                    <div class="control-group ">
                        <div id="successForgetPass" class="dispNone text-center alert alert-success col-xs-12" >
                            <strong>رمز عبور با موفقیت به پست الکترونیکی شما ارسال شد !</strong>
                        </div>
                        <div id="errorForgetPass" class="dispNone text-center alert alert-danger col-xs-12" >
                            <strong></strong>
                        </div>
                        <div class="controls">
                            <button id="signInButton" ng-disabled="forgetPassForm.$invalid" ng-click="resetPasswordSubmit(forgetPass.email)" name="signin" class="btn btn-success btn-lg btnLogin">ارسال رمز عبور <i id="spinnerForgetPass" class="fa fa-spinner fa-spin dispNone"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>

</div>

