<div id="guest-modal"  class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog editForm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">بلیت مهمان</h4>
            </div>
            <div class="modal-body">
                <div  class="col-xs-12 marginBottom20 marginTop30">
                    <h3 class="text-center"> صدور بلیت‌های مهمان </h3>
                    <div ng-repeat="sans in eventDatesGuestTicket" class="col-xs-12 col-sm-6 floatRight marginTop30">

                        <div class="col-xs-12  col-sm-4 floatRight text-center">

                            <label class="registerLabel"  >:  سانس {{$index + 1 | pNumber}}</label>
                        </div>
                        <div class="col-xs-12  col-sm-6 floatRight text-center">
                            <input type="text"  required class=" datePickerFormatTicket dateClassGuestTicket{{$index}}"  disabled readonly/>
                        </div>
                        <div class="col-xs-12  col-sm-2 floatRight text-center">
                            <button ng-click="generateSeatMapGuestTicket($index)" class="btn btn-success"><i class="fa fa-image"></i>سالن</button>
                        </div>
                    </div>
                </div>
                <seat-map-generate-ticket></seat-map-generate-ticket>
                <div class="seatMapLoading center-block dispNone"><i class="fa fa-cog fa-spin fa-4x center-block marginTop60"></i></div>
                <div class="col-xs-12 seatMapHelpSection">
                    <div class="seatMapSquare seatMapAvailable"></div>
                    <label class="floatRight marginLeft20 paddingTop5">صندلی‌های مهمان بدون بلیت</label>
                    <div class="seatMapSquare seatMapPicked"></div>
                    <label class="floatRight marginLeft20 paddingTop5">انتخاب شده</label>
                    <div class="seatMapSquare seatMapSold"></div>
                    <label class="floatRight marginLeft20 paddingTop5">فروش رفته</label>
                    <div class="seatMapSquare seatMapNotAvailable"></div>
                    <label class="floatRight marginLeft20 paddingTop5">غیر قابل انتخاب</label>
                </div>
                <div id="labelDrillUpSection5"  class="col-xs-12 labelSvgHeight"></div>
                <div id="seatMaperChart5"  class="col-xs-12 marginTop30 marginBottom20 seatMaperChartStyle"></div>
                <p class="text-center colorRed" > در صورت صدور بلیت برای مهمان دیگر امکان ویرایش آن صندلی وجود ندارد *</p>
                <button ng-click="generateTicketForGuest()"  class="btn btn-success center-block"><i id="generateBlitForGuestSpinner" class="fa fa-spin fa-spinner dispNone"></i><i class="fa fa-download"></i>صدور بلیت مهمان </button>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>

</div>

