<!-- Modal -->
<div id="registrationModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content registerBody">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class=""><a data-target="#signup" class="signInButton tabAnchor registerTab" data-toggle="tab">ثبت نام</a></li>
                    <li class="active"><a data-target="#signin" class="signInButton tabAnchor registerTab" data-toggle="tab">ورود</a></li>
                </ul>
            </div>
            <div class="modal-body ">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="signin">
                        <form class="form-inline textAlignRight" name="signInForm">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->
                                <div class="form-group col-xs-12 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                        <label class="registerLabel" for="userIdSingIn" >پست الکترونيکی :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input height="60" id="userIdSingIn" name="email" ng-model="loginFields.email" type="email"  class="form-group registerInput" required>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-control-static text-center colorRed" ng-show="signInForm.email.$touched && signInForm.email.$invalid">پست الکترونیکی نا معتبر است</div>

                                <!-- Password input-->
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                        <label class="registerLabel" for="passwordinput">رمز ورود :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input height="60" required="" id="passwordinput" name="passwordinput" ng-model="loginFields.password" class="form-group  registerInput" type="password"  >
                                    </div>

                                </div>
                                <div class="col-xs-12 form-control-static text-center colorRed" ng-show="signInForm.passwordinput.$touched && signInForm.passwordinput.$invalid">رمز خود را وارد کنید</div>



                                <!-- Button -->
                                <div class="control-group ">
                                    <div ng-show="loginSuccessNotif" class="text-center alert alert-success col-xs-12" >
                                        <strong>با موفقیت وارد شدید !</strong>
                                    </div>
                                    <div id="loginError" ng-show="loginErrorNotif" class="text-center alert alert-danger col-xs-12" >
                                        <strong></strong>
                                    </div>
                                    <label class="control-label" for="signInButton"></label>
                                    <div class="controls">
                                        <button id="signInButton" ng-disabled="signInForm.$invalid" ng-click="login(loginFields)" name="signin" class="btn btn-success btn-lg btnLogin">ورود <i ng-show="submitLogin" class="fa fa-spinner fa-spin"></i></button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form class="form-inline textAlignRight" name="signupForm">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                    <label class="registerLabel" for="name">نام :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input id="name" name="name" class="form-group  registerInput" type="text" ng-model="fields.firstname"  required>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                    <label class="registerLabel" for="familyName">نام خانوادگی :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input id="familyName" name="familyName" class="form-group  registerInput"  type="text" ng-model="fields.lastname" required>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                    <label class="registerLabel" for="mobile">شماره تلفن همراه :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input id="mobile" name="mobile" class="form-group  registerInput" type="text" ng-model="fields.mobile" required>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                    <label class="registerLabel" for="Email">پست الکترونیکی :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input id="Email" name="email" class="form-group  registerInput" type="email" ng-model="fields.email" required>
                                    </div>
                                </div>



                                <!-- Password input-->
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                    <label class="registerLabel" for="password">رموز عبور :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input id="password" name="password" class="form-group  registerInput" type="password" ng-model="fields.password"  length-validation required>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-control-static text-center colorRed" ng-show="signupForm.password.$touched && signupForm.password.$invalid" >رمز نا معتبر است</div>

                                <!-- Text input-->
                                <div class="form-group col-xs-12 marginTop10 formRegGroup">
                                    <div class="col-xs-5 col-sm-4 floatRight text-center">
                                    <label class="registerLabel" for="reenterpassword">تکرار رمز عبور :</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-8 floatRight ">
                                        <input id="reenterpassword" class="form-group  registerInput" name="reenterpassword" type="password" password-validation="password" length-validation ng-model="fields.confirmPassword" required>
                                    </div>
                                </div>

                                <span data-ng-show="signupForm.reenterpassword.$error.match">Emails have to match!</span>
                                <div class="col-xs-12 form-control-static text-center colorRed" ng-match="fields.password" ng-show="signupForm.reenterpassword.$touched && signupForm.reenterpassword.$invalid">رمز نا معتبر است</div>

                                <!-- Multiple Radios (inline) -->
                                <br>


                                <div id="registerError" ng-show="registerErrorNotif" class="text-center alert alert-danger col-xs-12" >
                                    <strong></strong>
                                </div>
                                <!-- Button -->
                                <div class="control-group">
                                    <label class="registerLabel" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button ng-disabled="signupForm.$invalid" id="confirmsignup" ng-click="regUser(fields)" name="confirmsignup" class="btn btn-success btn-lg btnReg">ثبت نام <i ng-show="submitRegister" class="fa fa-spinner fa-spin"></i></button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times " aria-hidden="true"></i></button>
                </center>
            </div>
        </div>

    </div>
</div>



