<div id="notification"  class="modal fade" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">{{Msg}}</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>

    </div>
    <a data-controls-modal="#notification" data-backdrop="static" data-keyboard="false" href="/">
    </a>
</div>

