
<!-- Modal -->
<div id="event-photo" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div>
                <img class="center-block eventPhotoZoom" ng-src="{{eventDataPhoto.eventPhoto[0].imageUUID}}" alt="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>

</div>