<div class="col-xs-12">
    <slick dots="true" infinite="true"    autoplay="true" lazy-load="ondemand" speed=700 slides-to-show=4 touch-move="true" slides-to-scroll=1 >
        <div>
            <img src="assets/img/e.jpeg" class="img-responsive center-block homePageImage">
        </div>
        <div>
            <img src="assets/img/b.jpeg" class="img-responsive center-block homePageImage">
        </div>
        <div>
            <img src="assets/img/d.jpeg" class="img-responsive center-block homePageImage">
        </div>
        <div>
            <img src="assets/img/e.jpeg" class="img-responsive center-block homePageImage">
        </div>
        <div>
            <img src="assets/img/b.jpeg" class="img-responsive center-block homePageImage">
        </div>
        <div>
            <img src="assets/img/a.jpeg" class="img-responsive center-block homePageImage">
        </div>
    </slick>
</div>

