<div id="eventTickets"  class="modal fade" role="dialog" >
    <div class="modal-dialog editForm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">{{Msg}}</h4>
            </div>
            <div class="modal-body registerBody">
                <!-- Default panel contents -->

                <div class="panel panel-primary customPanel customPanelUser">

                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span> لیست بلیت ها

                    </div>
                    <div class="panel-body textAlignRight">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">نام خریدار</th>
                                <th class="text-center">تعداد بلیت</th>
                                <th class="text-center" >تاریخ بلیت</th>
                                <th class="text-center">شماره خریدار</th>
                                <th class="text-center">وضعیت خرید</th>
                                <th class="text-center">مبلغ (تومان)</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr  pagination-id="eventTicketsPagination" total-items="totalTicketNumber" dir-paginate="item in eventsTickets | itemsPerPage: 4"  current-page="currentPage">
                                <td class="text-center">{{item.customerName}}</td>
                                <td class="text-center">{{item.count | pNumber}}</td>
                                <td class="text-center">{{item.eventDateAndTime}}</td>
                                <td class="text-center">{{item.customerMobileNumber | pNumber}}</td>
                                <td class="text-center">{{item.paymentStatus}}</td>
                                <td class="text-center" ng-show="item.totalAmount !== 0" >{{item.totalAmount | number | pNumber}}</td>
                                <td class="text-center" ng-show="item.totalAmount === 0" >رایگان</td>
                            </tr>
                            </tbody>
                        </table>


                        <!--            modal    -->

                    </div>
                    <div class="col-xs-12">
                        <div class="col-md-4 col-md-offset-4">
                            <dir-pagination-controls pagination-id="eventTicketsPagination" on-page-change="eventTicketsPageChanged(newPageNumber)" class="col-xs-12"
                                                     max-size="2"
                                                     >
                            </dir-pagination-controls>
                        </div>
                    </div>
                    <div class="col-xs-12 marginBottom20 marginTop30">
                        <h3 class="text-center"> دانلود بلیت های فروش رفته </h3>
                        <div ng-repeat="sans in eventDatesTickets" class="col-xs-12 col-sm-6 floatRight marginTop30">

                            <div class="col-xs-12  col-sm-4 floatRight text-center">

                                <label class="registerLabel"  >:  سانس {{$index + 1 | pNumber}}</label>
                            </div>
                            <div class="col-xs-12  col-sm-6 floatRight text-center">
                                <input type="text"  required class=" datePickerFormatTicket " ng-class="dateClassGetTicket($index)" disabled readonly/>
                            </div>
                            <div class="col-xs-12  col-sm-2 floatRight text-center">
                                <button ng-click="getTicketsSubmit($index)" class="btn btn-success"><i class="fa fa-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>