<div id="eventTickets"  class="modal fade" role="dialog" >
    <div class="modal-dialog editForm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">{{Msg}}</h4>
            </div>
            <div class="modal-body registerBody">
                <!-- Default panel contents -->

                <div class="panel panel-primary customPanel customPanelUser">

                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span> لیست بلیت ها

                    </div>
                    <div class="panel-body textAlignRight">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">نام خریدار</th>
                                <th class="text-center" >تاریخ بلیت</th>
                                <th class="text-center">شماره خریدار</th>
                                <th class="text-center">مبلغ</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr  pagination-id="eventTicketsPagination" total-items="totalTicketNumber" dir-paginate="item in eventsTickets | itemsPerPage: 4"  current-page="currentPage">
                                <td class="text-center">{{item.customerName}}</td>
                                <td class="text-center">{{item.eventDateAndTime}}</td>
                                <td class="text-center">{{item.customerMobileNumber}}</td>
                                <td class="text-center" ng-show="item.totalAmount !== 0" >{{item.totalAmount}}</td>
                                <td class="text-center" ng-show="item.totalAmount === 0" >رایگان</td>
                            </tr>
                            </tbody>
                        </table>


                        <!--            modal    -->

                    </div>
                    <div class="col-xs-12">
                        <div class="col-md-4 col-md-offset-4">
                            <dir-pagination-controls pagination-id="eventTicketsPagination" on-page-change="eventTicketsPageChanged(newPageNumber)" class="col-xs-12"
                                                     max-size="2"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>