<!DOCTYPE html>
<html lang="en" ng-app="Blito" ng-controller="mainCtrl as main">
<head>
    <base href="/"/>
    <meta name="enamad" content="717583151"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=3, user-scalable=2" />
    <meta name="google-site-verification" content="Ae0XnHBmGrtad5c_FptpZisRSO68n0CfHx3OE2iq138" />
    <meta name="description" content="{{pageDescription}}"/>
    <meta name="keywords" content="{{keyWord}}"/>
    <title ng-bind="title + ' | بلیتو'"></title>
    <link rel="apple-touch-icon" sizes="180x180" href="fav-icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="fav-icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="fav-icons/favicon-16x16.png"/>
    <link rel="manifest" href="fav-icons/manifest.json"/>
    <link rel="mask-icon" href="fav-icons/safari-pinned-tab.svg" />
    <meta name="theme-color" content="#1e1e1e"/>
    <!-- external css libraries-->
    <link rel='stylesheet' href='assets/css/anychart/anychart-ui.min.css'/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css"/>
    <link rel="stylesheet" href="assets/css/wizardStyle.css"/>
    <link rel="stylesheet" href="assets/css/custom.css"/>
    <link rel="stylesheet" href="assets/css/tabProfile.css"/>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/anychart/anychart-base.min.js"></script>
    <script type="text/javascript" src="assets/js/anychart/anychart-map.min.js"></script>
    <script type="text/javascript" src="assets/js/anychart/anychart-exports.min.js"></script>
    <script type="text/javascript" src="assets/js/anychart/anychart-ui.min.js"></script>
    <!-- angular js libraries-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <!-- external js libraries-->
    <script type="text/javascript" src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script type="text/javascript" src="bower_components/angulartics-google-analytics/dist/angulartics-ga.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-file-saver/dist/angular-file-saver.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
    <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'/>
    <script type="text/javascript" src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script type="text/javascript" src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script type="text/javascript" src='bower_components/textAngular/dist/textAngular.min.js'></script>

    <script type="text/javascript" src="bower_components/persianjs/persian.js"></script>
    <script type="text/javascript" src="bower_components/angular-persian/dist/angularpersian.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-slick/dist/slick.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <!-- jalali date-picker -->
    <link rel="stylesheet" href="bower_components/persian-datepicker/dist/css/persian-datepicker-0.4.5.min.css"/>
    <link rel="stylesheet" href="bower_components/persian-datepicker/dist/css/theme/persian-datepicker-dark.css"/>
    <script src="bower_components/persian-datepicker/lib/persian-date.js"></script>
    <script src="bower_components/persian-datepicker/dist/js/persian-datepicker-0.4.5.min.js"></script>
    <!-- angular modules-->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/route.js"></script>
    <!-- angular controllers-->
    <script type="text/javascript" src="app/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/eventsListPageCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/eventPageCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/bioPageCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/activateUserCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/userProfileCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/exchangeList.js"></script>
    <script type="text/javascript" src="app/controllers/exchange-page-ctrl.js"></script>
    <script type="text/javascript" src="app/controllers/not-found-ctrl.js"></script>
    <script type="text/javascript" src="app/controllers/user-ticket-ctrl.js"></script>
    <script type="text/javascript" src="app/controllers/ended-events-ctrl.js"></script>

    <!-- angular services-->
    <script type="text/javascript" src="app/services/auth-services.js"></script>
    <script type="text/javascript" src="app/services/animate-services.js"></script>
    <script type="text/javascript" src="app/services/ui-services.js"></script>
    <script type="text/javascript" src="app/services/user-profile-api-services.js"></script>
    <script type="text/javascript" src="app/services/home-page-services.js"></script>
    <script type="text/javascript" src="app/services/seatmap-services.js"></script>

    <!-- angular directives-->
    <script type="text/javascript" src="app/directives/changeClassBySize.js"></script>
    <script type="text/javascript" src="app/directives/validation.js"></script>
    <script type="text/javascript" src="app/directives/seatmap-directive.js"></script>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-103668411-1', 'auto');
    </script>
    <!-- hotjar -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:593262,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script>!function(e,t,a){"use strict";  var s=t.head||t.getElementsByTagName( "head" )[ 0 ], p=t.createElement( "script" ); e.iwmfBadge=a, p.async=true, p.src= "https://c.iwmf.ir/get-code/people-vote-4-2.js?v=10.1", s.appendChild(p) }(this,document,"b-bottom-left");</script>
</head>
<body ng-cloak="">

<nav class="navbar navbar-inverse navbar-fixed-top">


    <div class="navbar-header">
        <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-click="closeDropDown()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a  href="/" >

        <span class= "navbar-header navbar-header-backcolor">

        <img src="assets/img/logo.png" alt=""/>

            </span>
        </a>

    </div>
    <div id="navbar" class="navbar-collapse collapse ">
        <ul class="nav navbar-nav floatRight textAlignRight">
            <li ng-if="logoutMenu" class="floatRight" ng-class="{ active: isActive('/user-profile')}"><a class="" href="/user-profile"><i class="fa fa-user" aria-hidden="true"></i>  {{firstname}} {{lastname}} </a></li>
            <li class="floatRight" ng-class="{ active: isActive('/')}"><a class="" href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه </a></li>
            <li class="dropdown floatRight" ng-class="{ active: isActive('/cinema') || isActive('/entertainment') || isActive('/theater') || isActive('/concert') || isActive('/other') || isActive('/tour') || isActive('/workshop') ||isActive('/exhibition')}">
                <a href="" ng-click="DropDownMenue()" class="dropdown-toggle"><i class="fa fa-calendar" aria-hidden="true"></i> رویداد ها   <span class="caret"></span></a>
                <ul class="dropdown-menu nav-dropdown-menu textAlignRight">
                    <li><a href="/concert">کنسرت</a></li>
                    <li><a href="/tour">تور</a></li>
                    <li><a href="/theater">تئاتر</a></li>
                    <li><a href="/workshop">کارگاه</a></li>
                    <li><a href="/exhibition"> نمایشگاه</a></li>
                    <li><a href="/entertainment"> سرگرمی</a></li>
                    <li><a href="/cinema">سینما</a></li>
                    <li><a href="/other">سایر</a></li>

                </ul>
            </li>
            <li class="floatRight" ng-class="{ active: isActive('/exchange-tickets')}"><a href="/exchange-tickets"><i class="fa fa-ticket" aria-hidden="true"></i> آگهی بلیت   </a>
            </li>
            <li ng-hide="logoutMenu" class="floatRight signInButton"><a href="" data-toggle="modal" data-target="#registrationModal"><i class="fa fa-sign-in" aria-hidden="true"></i> ورود/ثبت نام  </a></li>

            <li ng-show="logoutMenu" ng-click="logout()" class="floatRight signInButton"><a href=""><i class="fa fa-sign-out" aria-hidden="true"></i> خروج</a></li>

        </ul>
    </div>
</nav>
<div class="container">

    <div ng-view="">


    </div>


</div>
<footer id="footer">
    <div class="row">
        <div class="hidden-xs col-sm-1 floatRight"></div>
        <div class="col-xs-12 col-sm-5 col-md-4 paddingtop-bottom footerleft floatRight textAlignRight verticalLine">
            <div class="logofooter"> <img href="#" src="assets/img/logo.png" alt=""/>
            </div>
            <p class="footerP"><i class="fa fa-phone"></i>شماره پشتیبانی: ۸۸۳۵۰۵۳۶</p>
            <p class="footerP" ><i class="fa fa-envelope"></i>ایمیل پشتیبانی:
                support@blito.ir</p>
            <p><i class="fa fa-location-arrow"></i> آدرس: خیابان کارگر شمالی، پردیس فنی دانشگاه تهران، شتاب دهنده دیموند</p>
            <p><i class="fa fa-support"></i>پیشنهادات و انتقادات خود را با من در میان بگذارید.</p>

        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 paddingtop-bottom footerleft floatRight textAlignRight footerInfo">


            <h6 class="heading7">اطلاعات</h6>
            <p><i class="fa fa-info"></i><a href="/about-us" class="footerAnchor footerP">درباره ما</a></p>
            <p><i class="fa fa-file-text-o"></i><a href="/term-of-use" class="footerAnchor footerP">قوانین بلیتو</a></p>
            <p><i class="fa fa-user-secret"></i><a href="/privacy-policy" class="footerAnchor footerP"> حریم خصوصی</a></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 paddingtop-bottom footerleft floatRight textAlignRight footerInfo">
            <img src="https://trustseal.enamad.ir/logo.aspx?id=77638&amp;p=K4Qhy0CKg8mHsOiM" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=77638&amp;p=K4Qhy0CKg8mHsOiM&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=100, height=96, top=30&quot;)" style="cursor:pointer" id="K4Qhy0CKg8mHsOiM"/>
            <img id='sizpfukzfukznbqejzpe' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=96627&amp;p=pfvlgvkagvkauiwkjyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=100, height=96, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=96627&amp;p=bsiywlbqwlbqodrfyndt'/>
        </div>
        <div class="col-xs-12 socialmediaHolder floatRight textAlignRight">
            <div class="marginAuto">
                <a class="socialmedia " href="https://www.instagram.com/blito.ir/" target="_blank">
                    <span class="instagram"></span>
                    <img class="displayInline"  src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/d0cf11b8-f7d3-4c59-8e62-91365dd175f9.png"/>
                </a>
                <a class="socialmedia"
                   href="https://t.me/blito" target="_blank">
                    <span class="telegram"></span>
                    <img class="displayInline" src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/11b8524d-0856-4844-9786-b5aab92c9ea5.png"/></a>
                <a class="socialmedia" href="https://twitter.com/blittoir?s=09" target="_blank">
                    <span class="twitter"></span>
                    <img class="displayInline" src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/3a457013-f475-4d11-8c98-76f42a25d8e5.png"/>
                </a>
                <a class="socialmedia" href="http://www.aparat.com/blito" target="_blank">
                    <span class="aparat"></span>
                    <img class="displayInline" src="https://gallery.mailchimp.com/ce18d4419816e1d60ec5a84b5/images/b8d9fb6a-abeb-40c6-a425-1a88eb44b7cb.png"/>
                </a>
            </div>
        </div>
    </div>

</footer>
<div ng-include="'app/views/partials/registerModal.html'"></div>
<div ng-include="'app/views/partials/loading.html'"></div>
<div ng-include="'app/views/partials/showNotif.html'"></div>
<div ng-include="'app/views/partials/forget-password.html'"></div>
<div ng-include="'app/views/partials/resend-activation-email.html'"></div>

</body>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0K9LZjvsK4TGAOLzQVVnGfY20eyO5nbY"></script>

</html>