<div class="notFoundContainer container" ng-controller="notFoundCtrl">
    <div class="row right">
        <div class="col-xs-3 right marginRight100 ">
            <img src="assets/img/logo pure.png" class="notFountLogo">

            <div class="curved-line"></div>
        </div>
        <div class="col-xs-6">
            <div class="notFountTextContainer">

                <h3>صفحه مورد نظر یافت نشد</h3>
                <br/>
                <h5>دسترسی به صفحه مورد نظر مقدور نمیباشد</h5>
            </div>
        </div>
    </div>
</div>